/*  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    right: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Comon*/
/* color */
.text-white{
    color: white !important;
}
.text-blue{
    color: blue !important;
}

/* backgound color */
.black{
    background-color: #000;
    color: white;
}
.black:hover{
    background-color: #ccc;
    color: #000;
}

/*  row colum*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-haft{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}

/* magin */
.mt-8{
    margin-top: 8px;
}
.mtb-16{
    margin: 16px 0;
}
/*  */
.text-center{
    text-align: center;
}
button, input{
    line-height: 22.5px;

}
button{
    padding: 8px 16px;
}

/* Main */
#main{

}

#header{
    height: 46px;
    background-color:  #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#nav{
    display: inline-block;

}

#nav, .subnav{
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav > li{
     display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav  li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down{
    font-size: 12px;
}


#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
    
}
#header .mobile-menu-btn{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

#header .menu-icon{
    color: #fff;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    margin-top: 46px;    
    padding-top: 50%;
    background: url('/asset/img/slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 600;
}
#slider .text-description{
    margin-top: 25px;
    text-shadow: 0 0 2px #000;
}

#content{
    width: 100%;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    margin: 15px 0;
}

#content .member-list{
    padding: 32px 0;
}


#content .member-name{
    font-size: 15px;
    margin: 15px 0;

}

#content .member-avatar{
    width: 154px;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* Tour section */
.tour-section{
    background-color: #000;

}

.ticket-list{
    color: gray;
    background-color: white;
    margin-top: 40px;
    font-size: 15px;
}

.ticket-list li{
    padding: 8px 16px;
    list-style: none;
    border: 1px solid #ddd;
}

.ticket-list .sold-out{
    color: white;
    padding: 3px 8px;
    margin-left: 16px;
    background-color: #f44336;

}

.ticket-list .quantity{
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    padding: 0px 8px;
    margin-right: 16px;
    margin-top: -3px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

/* place */
.place-list{
    margin-top: 32px;
    margin-bottom: 32px;
}

.place-list .place-img{
    width: 100%;
    display: block;
}
.place-list .place-img:hover{
    opacity: 0.7;
}
.place-list .place-body{
    background-color: white;
    padding: 0 16px 16px;
    font-size: 15px;
    margin-bottom: 15px;
}
.place-list .place-heading{
    padding: 15px 0;
}
.place-list .place-time{
    opacity: 0.6;
    
}
.place-list .place-desc{
    margin: 15px 0;
}
.place-list .place-buy-btn{
    border: none;
    text-decoration: none;
    display: inline-block;
}

/* Contact */
.contact-content{
    padding: 32px 0;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.contact-info a{
    color: #1a73e8;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn{
    float: right;
    border: none;
}

.map-section{
    max-width: 100%;
    height: auto;
 }

/* Footer section*/
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{

    font-size: 24px;
    
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);

}

#footer .copyright{
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

/* Modal buy ticket */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}

.modal-container{
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease .5s;
}

.modal-close{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.modal-close:hover{
    background-color: #ccc;
}

.modal-header{
    padding: 32px 16px;
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-heading{
    margin: 10px 0;
    
}
.modal-heading-icon{
    margin: 0 16px;
}

.modal-body{
    padding: 0.15px 16px;
}
.modal-label{
    font-size: 15px;
    display: block;
    margin: 15px 0;
}
.modal-input{
    padding: 8px;
    width: 100%;
}

.modal-button{
    background-color: #009688;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    border: none;
    color: #FFFFFF;
    height: 54.5px;
    font-weight: 500;
    cursor: pointer;
}
.modal-ti-check{
    margin-left: 12px;
}
.modal-button:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer{
    float: right;
}
.modal-help{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.open{
    display: flex;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-130px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}